body{
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.delbtn{
    position: absolute;
    left:80%;
    top: 10%;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 14px;
}
.delbtn:hover{
    background-color: black;
    color: white;
    font-size: 17px;
}
input{
    width: 90px;
    height: 20px;
    font-size: 22px;
    margin: 20px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    float: left;

}

#tagsDiv{
    position: absolute;
    top:70%;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 30%;
}
.tagClass{
    padding:5px;
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
}
.tagClass:hover{
    font-size: 18px;

}
.addNote{
    float: left;
}
.weatherInfo{
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    border: 1px solid rgb(199, 189, 189);

    margin: 10px;
    width: 200px;
    height: 220px;
    border-radius: 30px;
    box-shadow: 4px 4px 5px rgb(41, 40, 40);
}

h2{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h4{
    margin-top: 0px;
    padding-top: 0px;
}
.cont{
    position: absolute;
}
#weatherBlocks{
    width: 100%;
margin: 50px;
padding: 50px;
}


#weatherBlocksPinned{


    margin: 50px;
    padding: 50px;
    width: 100%;

}

.cb{
    clear: both;
}

$colors: (
  red: #DB2828,
  orange: #F2711C,
  yellow: #FBBD08,
  olive: #B5CC18,
  green: #21BA45,
  teal: #00B5AD,
  blue: #2185D0,
  violet: #6435C9,
  purple: #A333C8,
  pink: #E03997
);

* {
  box-sizing: border-box;
}


input[type="radio"] {
  display: none;
  &:checked + label {
    span { transform: scale(1.25); }
    @each $name, $value in $colors {
      .#{$name} {
        border: 2px solid darken($value, 25%);
      }
    } // !@each
  } // !&:checked + label
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span { 
      transform: scale(1.25); 
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}